#goodInsert {
	position: absolute;
	left: 50%;
	top: 50%;
	width:410px;
	height:300px;
	margin-left:-210px;
	margin-top:-150px;
	background:white;
	padding:20px;
}

#goodInsert img {
	height:40px;
	width:40px;
}

.goodInfo {
	width:400px;
	height:3.0em;
}

#submit {
	width:400px;
	outline:0;
	font-size:1.0em;
	height:3.0em;
	border-radius:4px;
	border:1px solid #c8cccf;
	color:#6a6f77;
	-webkit-appearance:none;
  	-moz-appearance: none;
}